Repository codesupport/discord-bot, pull requests merged in 2020-06, with the labels that each got.

#26 Added "help" as a trigger for the "Asking For Help" rule.
  src/config.json
Labels: command

#25 Search Command
  package-lock.json
  package.json
  src/commands/RuleCommand.ts
  src/commands/SearchCommand.ts
  src/config.json
  src/interfaces/InstantAnswer.ts
  src/services/InstantAnswerService.ts
  test/commands/RuleCommandTest.ts
  test/commands/SearchCommandTest.ts
  test/services/InstantAnswerServiceTest.ts
Labels: command, service

#34 Added a command to search NPM packages.
  src/commands/NPMCommand.ts
  test/commands/NPMCommandTest.ts
Labels: command, enhancement

#35 Added subdomains support for the ?search command.
  src/commands/SearchCommand.ts
  test/commands/SearchCommandTest.ts
Labels: command

#39 Message logs
  src/config.json
  src/event/handlers/LogMessageDeleteHandler.ts
  src/event/handlers/LogMessageUpdateHandler.ts
  test/event/handlers/LogMessageDeleteHandlerTest.ts
  test/event/handlers/LogMessageUpdateHandlerTest.ts
Labels: enhancement, handlers

#40 Rework InstantAnswerService
  src/commands/SearchCommand.ts
  src/services/InstantAnswerService.ts
  test/commands/SearchCommandTest.ts
Labels: command

#38 Deployment: NPM Command and Subdomain Support in ?search
  .github/CODEOWNERS
  README.md
  src/commands/NPMCommand.ts
  src/commands/SearchCommand.ts
  src/config.json
  src/event/handlers/LogMessageDeleteHandler.ts
  src/event/handlers/LogMessageUpdateHandler.ts
  src/services/InstantAnswerService.ts
  test/commands/NPMCommandTest.ts
  test/commands/SearchCommandTest.ts
  test/event/handlers/LogMessageDeleteHandlerTest.ts
  test/event/handlers/LogMessageUpdateHandlerTest.ts
Labels: deployment

#42 Adding embed colors to bot
  src/commands/CodeblockCommand.ts
  src/commands/HiringLookingCommand.ts
  src/commands/NPMCommand.ts
  src/commands/RuleCommand.ts
  src/commands/SearchCommand.ts
  src/config.json
  src/event/handlers/LogMessageDeleteHandler.ts
  src/event/handlers/LogMessageUpdateHandler.ts
  test/commands/CodeblockCommandTest.ts
  test/commands/HiringLookingCommandTest.ts
  test/commands/NPMCommandTest.ts
  test/commands/RuleCommandTest.ts
  test/commands/SearchCommandTest.ts
  test/event/handlers/LogMessageDeleteHandlerTest.ts
  test/event/handlers/LogMessageUpdateHandlerTest.ts
Labels: enhancement

#45 Support Use of .env Files
  .env.example
  .gitignore
  README.md
  package-lock.json
  package.json
  src/app.ts
Labels: documentation, enhancement

#44 Added botless channels support and wrote tests for CommandParserHandler.
  src/config.json
  src/event/handlers/CommandParserHandler.ts
  src/utils/getConfigValue.ts
  test/event/handlers/CommandParserHandlerTest.ts
Labels: command, enhancement

#48 Post Tweets In General
  .eslintrc.js
  package-lock.json
  package.json
  src/app.ts
  src/config.json
  src/interfaces/TwitterStreamListener.ts
  src/services/TwitterService.ts
  src/utils/getEnvironmentVariable.ts
  test/services/TwitterServiceTest.ts
Labels: enhancement, service, tests

#50 Deploy Twitter Streaming
  .eslintrc.js
  LICENSE
  package-lock.json
  package.json
  src/app.ts
  src/config.json
  src/interfaces/TwitterStreamListener.ts
  src/services/TwitterService.ts
  src/utils/getEnvironmentVariable.ts
  test/services/TwitterServiceTest.ts
Labels: deployment

#55 Fix hashtag in tweets and embed colour
  src/services/TwitterService.ts
Labels: enhancement, service

#51 Organisation and Quick Fixes
  README.md
  package-lock.json
  package.json
  test/services/TwitterServiceTest.ts
Labels: enhancement

#57 Fix bug for LogMessageDeleteHandler
  src/event/handlers/LogMessageDeleteHandler.ts
  test/event/handlers/LogMessageDeleteHandlerTest.ts
Labels: bug fix

#61 Added additional triggers for rules 3 and 4
  src/config.json
Labels: enhancement

#62 Deployment: Cleanup, Fix Tweets, GitHub Command/Service and New Rule Triggers
  README.md
  package-lock.json
  package.json
  src/commands/GitHubCommand.ts
  src/config.json
  src/event/handlers/CommandParserHandler.ts
  src/event/handlers/LogMessageDeleteHandler.ts
  src/interfaces/GitHubPullRequest.ts
  src/interfaces/GitHubRepository.ts
  src/interfaces/TwitterStreamListener.ts
  src/services/GitHubService.ts
  src/services/TwitterService.ts
  test/commands/GitHubCommandTest.ts
  test/event/handlers/CommandParserHandlerTest.ts
  test/event/handlers/LogMessageDeleteHandlerTest.ts
  test/services/GitHubServiceTest.ts
  test/services/TwitterServiceTest.ts
Labels: deployment

#65 Addition of CodeblocksOverFileUploadsHandler Module
  src/config.json
  src/event/handlers/CodeblocksOverFileUploadsHandler.ts
  test/event/handlers/CodeblocksOverFileUploadsHandlerTest.ts
Labels: enhancement, handlers
