Repository codesupport/discord-bot, pull requests merged in 2020-05, with the labels that each got.

#2 Rule Command
  src/app.ts
  src/commands/HiringLookingCommand.ts
  src/commands/RuleCommand.ts
  src/config.json
  src/factories/CommandFactory.ts
  src/interfaces/RunnableCommand.ts
Labels: command

#3 Setup Tests for ?hl and ?rules
  .github/workflows/main.yml
  package-lock.json
  package.json
  src/commands/RuleCommand.ts
  src/factories/CommandFactory.ts
  test/MockDiscord.ts
  test/commands/HiringLookingCommandTest.ts
  test/commands/RuleCommandTest.ts
  tsconfig.json
Labels: tests

#5 Remove RunnableCommand interface in favour of abstract.
  src/abstracts/Command.ts
  src/commands/HiringLookingCommand.ts
  src/commands/RuleCommand.ts
  src/factories/CommandFactory.ts
  src/interfaces/RunnableCommand.ts
  test/commands/HiringLookingCommandTest.ts
  test/commands/RuleCommandTest.ts
Labels: command

#6 Event Handling
  src/abstracts/EventHandler.ts
  src/app.ts
  src/config.json
  src/event/handlers/CommandParserHandler.ts
  src/factories/CommandFactory.ts
  src/utils/getFilesInDirectory.ts
Labels: handlers

#7 Add codeblock command
  assets/codeblock.png
  src/commands/CodeblockCommand.ts
  test/commands/CodeblockCommandTest.ts
Labels: command

#8 User Authentication
  package.json
  src/app.ts
  src/config.json
  src/event/handlers/AutomaticMemberRoleHandler.ts
  src/event/handlers/NewUserAuthenticationHandler.ts
  test/MockDiscord.ts
  test/commands/HiringLookingCommandTest.ts
  test/event/handlers/AutomaticMemberRoleHandlerTest.ts
  test/event/handlers/NewUserAuthenticationHandlerTest.ts
Labels: handlers

#11 Deployment
  .eslintrc.js
  .github/workflows/main.yml
  .gitignore
  Procfile
  assets/codeblock.png
  package-lock.json
  package.json
  src/abstracts/Command.ts
  src/abstracts/EventHandler.ts
  src/app.ts
  src/commands/CodeblockCommand.ts
  src/commands/HiringLookingCommand.ts
  src/commands/RuleCommand.ts
  src/config.json
  src/event/handlers/AutomaticMemberRoleHandler.ts
  src/event/handlers/CommandParserHandler.ts
  src/event/handlers/NewUserAuthenticationHandler.ts
  src/factories/CommandFactory.ts
  src/utils/getFilesInDirectory.ts
  src/utils/readDirectory.ts
  test/MockCommand.ts
  test/MockDiscord.ts
  test/commands/CodeblockCommandTest.ts
  test/commands/HiringLookingCommandTest.ts
  test/commands/RuleCommandTest.ts
  test/event/handlers/AutomaticMemberRoleHandlerTest.ts
  test/event/handlers/NewUserAuthenticationHandlerTest.ts
  test/factories/CommandFactoryTest.ts
  tsconfig.json
Labels: deployment

#13 Deployment 2
  Procfile
  src/commands/CodeblockCommand.ts
Labels: deployment

#16 Self Destructing Commands & Clearer Rule Command
  src/abstracts/Command.ts
  src/commands/RuleCommand.ts
  src/event/handlers/CommandParserHandler.ts
  src/interfaces/CommandOptions.ts
  test/commands/RuleCommandTest.ts
Labels: command, enhancement

#18 Make ?codeblock self-destructing
  src/commands/CodeblockCommand.ts
Labels: command

#19 Changed hiring/looking command to be more explicit about what we want.
  src/commands/HiringLookingCommand.ts
  test/commands/HiringLookingCommandTest.ts
Labels: command

#20 Deployment: Self Destructing Commands and More Explicit Commands
  README.md
  src/abstracts/Command.ts
  src/commands/CodeblockCommand.ts
  src/commands/HiringLookingCommand.ts
  src/commands/RuleCommand.ts
  src/event/handlers/CommandParserHandler.ts
  src/interfaces/CommandOptions.ts
  test/commands/HiringLookingCommandTest.ts
  test/commands/RuleCommandTest.ts
Labels: deployment

#21 HOTFIX: Change rules channel ID to be the correct ID.
  src/commands/RuleCommand.ts
  test/commands/RuleCommandTest.ts
Labels: command, hot fix

#22 Added documentation on how to use the Discord Bot
  README.md
Labels: documentation
